---
import Base from "@layouts/Base.astro";
import Page from "@layouts/Page.astro";
---

<Base meta_title="About">
  <Page title="Good First Issue: Unveiling Open-Source Stories!">

    <p>
    Have we ever wondered how to get started with open-source? Felt the desire to fix a bug in a project but found yourself unsure where to begin? 
    We've been there too! 
    </p>
    <p>
    That's why we created "Good First Issue," a video podcast that delves into 
    the world of open-source through conversations with maintainers and contributors.
    </p>

    <h3>Meet Our Team: Antonio, Federico, and Luca</h3>

    <p>
    Like any good idea worth its salt, Good First Issue started as a casual chat among friends and soon turned into a .dev domain.
    <br>
    Every month, we release a new episode, initially live-streamed on Twitch and later available on our YouTube channel. 
    <br>
    Don't miss out! Subscribe to our channels on <a href="https://www.twitch.tv/goodfirstissue">Twitch</a> and <a href="https://www.youtube.com/channel/UCZX3A5JbM6LWvWScT1ZMygQ">YouTube</a> to receive notifications about our latest episodes.
    </p>
    <h3>Calling All Open-Source Enthusiasts!</h3>
    <p>

    Are you passionate about open-source? 
    <br>
    So are we! We're always on the lookout for new guests. 
    <br>
    If you're a maintainer or contributor eager to share your story, <a href goodfirstissue@gmail.com>send us an email</a>!
    <br>
    Join us on this journey into the open-source community. Your adventure begins with a "Good First Issue"!
    </p>
    
  </Page>
</Base>
